
    <div class="message-content">
        <span class="flavor-text">
            <h4 class="action"><strong>Defence Saving Throw</strong></h4>
            <div class="tags traits"></div>
            <hr>
            <div class="tags modifiers">
30
    </div>
        </span>
        <div class="dice-roll saving-throw">
            <div class="dice-result">
                <div class="dice-formula">[object Object]</div>
                    <div class="dice-tooltip">
                        <section class="tooltip-part">
                            <div class="dice">
                                <header class="part-header flexrow">
                                    <span class="part-formula">1d20</span>
                                    <span class="part-total">19</span>
                                </header>
                                <ol class="dice-rolls">
                                    <li class="roll die d20">1d20+11</li>
                                </ol>
                            </div>
                        </section>
                    </div>
                    <h4 class="dice-total">23</h4>
                </div>  
            </div>
        </div>
    </div>
        
