.defense-button {
    width: 100%; 
    height: 21px; 
    color: #ffffff; 
    background-color: #00000000;
    justify-content: center;
    align-items: center;
    transition-duration: 0.4s;
}

.defense-button-icon {
    color: #ffffff; 
    height: 18px; 
    background-color: #00000000;
    justify-content: center;
    align-items: center;
    vertical-align: top;
    padding-top: 1px;
}

.defense-button:hover {
    background-color: #990101e9; 
}

.defense-target-dc-title {
    width: 50%;
    align-items: right;
}

.my-confrm-btn-class {
    padding-top: 1px;
}